{% extends 'base.html' %}

{% block title %}
	<title> chat </title>
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-center">
    <form id="form">
        <h1>Group Chat</h1>
        {% include 'includes/alerts.html' %}
        {% if request.user.is_authenticated %}
            <input type="text" name="message"/>
            <input type="submit">
        {% else %}
            <input type="text" name="message" disabled/>
            <p style="color:red;">You Have to sign First</p>
        {% endif %}
        <div id="messages"></div>
    </form>
</div>


<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if(data.type === 'chat'){
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML(
                'beforeend',
                 `<div>
                    <p><strong>${data.message} </strong>sent by ${data.request_user}</p>
                 </div>`
            )
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message':message
        }))
        form.reset()
    })

</script>
{% endblock content %}